@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
            <div class="g-pos-rel g-px-10--lg">
                <a id="profileMenuInvoker" class="d-block" href="#!" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
                   data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                    <span class="g-pos-rel">
                        <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-lightblue-v5 g-mr-5"></span>
                        <span class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm">
                            <i class="fa fa-user-o fa-2x"></i>
                        </span>
                    </span>
                    <span class="g-pos-rel g-top-2">
                        <span class="g-hidden-sm-down">@User.Identity.GetUserName()</span>
                        <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                    </span>
                </a>
                <!-- Top User Menu -->
                <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                    <li class="g-mb-10">
                        <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="@Url.Action("Index", "Manage")">
                            <span class="d-flex align-self-center g-mr-12">
                                <i class="hs-admin-user"></i>
                            </span>
                            <span class="media-body align-self-center">My Account</span>
                        </a>
                    </li>
                    <li class="g-mb-10">
                        <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="@Url.Action("Notification", "Manage")">
                            <span class="d-flex align-self-center g-mr-12">
                                <i class="hs-admin-rocket"></i>
                            </span>
                            <span class="media-body align-self-center">Notifications</span>
                        </a>
                    </li>
                    <li class="g-mb-10">
                        <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="@Url.Action("Setting", "Manage")">
                            <span class="d-flex align-self-center g-mr-12">
                                <i class="hs-admin-layout-grid-2"></i>
                            </span>
                            <span class="media-body align-self-center">Settings</span>
                        </a>
                    </li>
                    <li class="mb-0">
                        <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="d-flex align-self-center g-mr-12">
                                <i class="hs-admin-shift-right"></i>
                            </span>
                            <span class="media-body align-self-center">Log off</span>
                        </a>
                    </li>
                </ul>
                <!-- End Top User Menu -->
            </div>
        </div>
    }
}